/* src/components/About.css */
.about {
    display: flex;
    background-image: linear-gradient(rgba(30, 42, 93, 0.04),rgba(48, 62, 130, 0.04),rgba(60, 80, 157, 0.04));
    justify-content: space-evenly;
    padding: 0 15%;
  }
  
  .about-image img {
    width: 60%;
  }
  
  .about-content {
    width: 60%;
    display: flex;
    align-items: center;
  }

  .about-us-text {
    font-weight: 600;
    font-size: 45px;
    margin: 0;
    line-height: 27px;
    color: rgba(14, 35, 104, 1);
  }

  .para {
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: rgba(68, 73, 87, 1);
  }
  
  .about-content p {
    margin: 20px 0;
    color: #555;
  }
  
  .read-more-btn {
    background-color: rgba(226, 55, 68, 1);
    height: 42px;
    width: 132px;
    color: white;
    padding: 3px, 26px, 3px, 26px;
    cursor: pointer;
    gap: 10px;
    border: none;
    border-radius: 21px;
  }
  
  @media (max-width: 1000px) {
    .about {
      flex-direction: column;
      align-items: center;
      padding: 10% 0;
    }
  
    .about-content {
      max-width: 86%;
      text-align: center;
      margin-top: 20px;
    }

    .about-image {
      display: none;
    }

    .about-content p{
      margin: 15% 0;
    }
  }
  